
<!DOCTYPE html>
<html lang="zxx">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Tempusgems</title>

    <!-- ::::::::::::::Favicon icon::::::::::::::-->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" type="image/png"> -->

    <!-- ::::::::::::::All CSS Files here :::::::::::::: -->
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="css/vendor/ionicons.css">
    <link rel="stylesheet" href="css/vendor/simple-line-icons.css">
    <link rel="stylesheet" href="css/vendor/jquery-ui.min.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/plugins/animate.min.css">
    <link rel="stylesheet" href="css/plugins/nice-select.css">
    <link rel="stylesheet" href="css/plugins/venobox.min.css">
    <link rel="stylesheet" href="css/plugins/jquery.lineProgressbar.css">
    <link rel="stylesheet" href="css/plugins/aos.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Use the minified version files listed below for better performance and remove the files listed above -->
    <!-- <link rel="stylesheet" href="css/vendor/vendor.min.css">
    <link rel="stylesheet" href="css/plugins/plugins.min.css">
    <link rel="stylesheet" href="css/style.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMNMF5Jr5zZn3F5sN5A5CkA5mfn0NfG8bp8cnq1" crossorigin="anonymous">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <!-- Start Header Area -->
    <header class="header-section d-none d-xl-block">
        <div class="header-wrapper">
            <div class="header-bottom header-bottom-color--black section-fluid sticky-header sticky-color--black">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Start Header Logo -->
                            <div class="header-logo">
                                <div class="logo">
                                    <a href="home"><img src="images/logo/logo_1.png" alt=""></a>
                                </div>
                            </div>
                            <!-- End Header Logo -->

                            <!-- Start Header Main Menu -->
                            <div class="main-menu menu-color--white menu-hover-color--pink">
                                <nav>
                                    <ul>
                                        <li class="has-dropdown">
                                            <a class="active main-menu-link" href="/home">Home</a>
                                            <!-- Sub Menu -->
                                          
                                        </li>
                                        <li class="has-dropdown has-megaitem">
                                            <a href="/shop">Shop 
                                                   </a>
                                          
                                            
                                        </li> 
                                        <li>
                                             <a href="user-profile">Profile</a>
                                        </li>
                                        <!-- <li>
                                            <a href="contact-us.html">Contact Us</a>
                                        </li> -->
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Header Main Menu Start  -->

                            <!-- Start Header Action Link -->
                             <ul class="header-action-link action-color--white action-hover-color--pink">
                                
                                 <li>
                                    <a href="#search">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="user-profile">
                                        <i class="icon-user"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#offcanvas-about" class="offacnvas offside-about offcanvas-toggle">
                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                               
                            </ul> 
                            <!-- End Header Action Link -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
<body class="container">
    <div class="change-password-container">
        <div class="change-password-content">
            <h1 class="change-password-text">Change Password</h1>
            <!-- <form id="changePasswordForm" action="/changepassword" method="post" onsubmit="return validatePasswordForm()" novalidate> -->
                <form id="changePasswordForm" novalidate>

                <div class="default-form-box">
                    <label>Current Password</label>
                    <div class="password-container">
                        <input type="password" id="Current-password" name="Current-password" required>
                        <span class="eye-icon" onclick="togglePasswordVisibility('new-password')">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                    <div id="currentPasswordError" class="error"></div>
                </div>
                <div class="default-form-box">
                    <label>New Password</label>
                    <div class="password-container">
                        <input type="password" id="new-password" name="new-password" required>
                        <span class="eye-icon" onclick="togglePasswordVisibility('new-password')">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                    <div id="newPasswordError" class="error"></div>
                </div>
                <div class="default-form-box">
                    <label>Confirm Password</label>
                    <div class="password-container">
                        <input type="password" id="confirm-password" name="confirm-password" required>
                        <span class="eye-icon" onclick="togglePasswordVisibility('confirm-password')">
                            <i class="fas fa-eye"></i>
                        </span>
                    </div>
                    <div id="confirmPasswordError" class="error"></div>
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
    

   
       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    $(document).ready(function() {
        $('#changePasswordForm').on('submit', function(event) {
            event.preventDefault();  

        
            const isValid = validatePasswordForm();
            if (!isValid) return; 

            const formData = $(this).serialize();

            $.ajax({
                url: '/changepassword',
                type: 'POST',
                data: formData,
                dataType: 'json',
                success: function(result) {
                    if (result.success) {
                       
                        Swal.fire({
                            title: 'Success',
                            text: result.message,
                            icon: 'success',
                            confirmButtonText: 'OK'
                        }).then(() => {
                            window.location.href = '/home';
                        });
                    } else {
                       
                        Swal.fire({
                            title: 'Error',
                            text: result.message,
                            icon: 'error',
                            confirmButtonText: 'OK'
                        });
                    }
                },
                error: function() {
                    Swal.fire({
                        title: 'Error',
                        text: 'incorrect password',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });

        function validatePasswordForm() {
    const currentPassword = $('input[name="Current-password"]').val().trim();
    const newPassword = $('input[name="new-password"]').val().trim();
    const confirmPassword = $('input[name="confirm-password"]').val().trim();

    const currentPasswordError = $('#currentPasswordError');
    const newPasswordError = $('#newPasswordError');
    const confirmPasswordError = $('#confirmPasswordError');

    currentPasswordError.text('');
    newPasswordError.text('');
    confirmPasswordError.text('');

    let isValid = true;

    if (currentPassword === '') {
        currentPasswordError.text('Current Password field is required');
        isValid = false;
    }

    if (newPassword === '') {
        newPasswordError.text('New Password field is required');
        isValid = false;
    } else if (newPassword.length < 6) {
        newPasswordError.text('New Password must be at least 6 characters long');
        isValid = false;
    }else if (/^(\w)\1*$/.test(newPassword)) { 
        newPasswordError.text('New Password cannot be made up of the same character repeated');
        isValid = false;
    }

    if (confirmPassword === '') {
        confirmPasswordError.text('Confirm Password field is required');
        isValid = false;
    } else if (newPassword !== confirmPassword) {
        confirmPasswordError.text('Passwords do not match');
        isValid = false;
    }

    return isValid;
}


        function togglePasswordVisibility(fieldName) {
            const passwordField = $(`input[name="${fieldName}"]`);
            const eyeIcon = passwordField.next('.eye-icon').find('i');
            if (passwordField.attr('type') === 'password') {
                passwordField.attr('type', 'text');
                eyeIcon.removeClass('fa-eye').addClass('fa-eye-slash');
            } else {
                passwordField.attr('type', 'password');
                eyeIcon.removeClass('fa-eye-slash').addClass('fa-eye');
            }
        }
    });
    </script>
    <style>
 
  .default-form-box {
    margin-bottom: 20px;
}
.change-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7; /* Optional: Change background color for better contrast */
}

.change-password-content {
    width: 150%;
    max-width: 500px; /* Reduce the width of the form */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%; /* Ensure it takes the full width of the form */
}

.password-container input[type="password"],
.password-container input[type="text"] {
    width: 100%; /* Adjust width to be 100% of the container */
    padding-right: 40px;
    box-sizing: border-box;
    padding: 8px; /* Reduce padding for a smaller input box */
    font-size: 14px; /* Reduce font size for a more compact look */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    color: #999;
    z-index: 2;
}

.eye-icon:hover {
    color: #333;
}

.btn-primary {
    display: block; 
    width: 100%;
    padding: 8px; 
    font-size: 14px; /* Adjust font size */
    font-weight: 600;
    color: #fff;
    background-color: #b19361;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
}

.btn-primary:hover {
    background-color: #040c16;
}

.error {
    color: red;
    font-size: 12px; /* Adjust font size for errors */
    margin-top: 5px;
}
    </style>
</body>
</html>
